@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

html {
  background: url('../assets/watercolor-background.jpeg') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  color: #ba5121;
  font-family: 'Darumadrop One';
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  background-color: #9ca594;
  padding: 40px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.game-controls {
  text-align: center;
}

.start-button {
  display: inline-block;
  height: 70px;
  padding: 0 30px;
  color: #3d6442;
  text-align: center;
  vertical-align: middle;
  font-family: 'Darumadrop One';
  font-size: 30px;
  background-color: transparent;
  border: 8px solid #3d6442;
  cursor: pointer;
  border-radius: 8px;
}

.start-button:hover {
  color: #4d1c54;
  font-size: 18px;
  border-color: #4d1c54;
  transform: rotate(5deg);
}

.status {
  font-size: 22px;
}

.pad-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 5px;
  margin: 20px;
}

.pad-red {
  border-top-left-radius: 200px;
  background-color: #c3665e;
}

.pad-red:hover,
.pad-red:focus {
  background-color: #c57968;
  transform: rotate(-5deg);
}

.pad-red:active,
.pad-red.activated {
  background-color: #fb9d88;
  transform: translateY(10px);
}

.pad-green {
  border-top-right-radius: 200px;
  background-color: #898860;
}

.pad-green:hover,
.pad-green:focus {
  background-color: #8cc218;
  transform: rotate(5deg);
}

.pad-green:active,
.pad-green.activated {
  background-color: #789539;
  transform: translateY(10px);
}

.pad-yellow {
  border-bottom-right-radius: 200px;
  background-color: #e3ccb3;
}

.pad-yellow:hover,
.pad-yellow:focus {
  background-color: #ffb900;
  transform: rotate(5deg);
}

.pad-yellow:active,
.pad-yellow.activated {
  background-color: #ffca3d;
  transform: translateY(10px);
}

.pad-blue {
  border-bottom-left-radius: 200px;
  background-color: #284b63;
}

.pad-blue:hover,
.pad-blue:focus {
  background-color: #139ddd;
  transform: rotate(5deg);
}

.pad-blue:active,
.pad-blue.activated {
  background-color: #2bbcff;
  transform: translateY(10px);
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}